{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1> Administration </h1>
        <p> Bienvenu dans l'interface d'administration de iFlex</p>
    </div>

{% endblock %}